table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left !important;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* ça prend pas ! ché pas pourkoi ... */
div.example-wrapper p table tr.head-table {
    font-weight: bold;
}

/* aligner les colonnes */
td {
    width: 8em;
}

tr>td:first-child {
    width: 1em;
    font-family: serif;
}